{
  "openapi": "3.0.0",
  "info": {
    "title": "API OCR Scanify",
    "version": "1.0.0",
    "description": "API do Scanify para processamento de OCR. Esta API permite que os usuários autentiquem, façam upload de arquivos para OCR, verifiquem o status dos processamentos, recuperem resultados de OCR e visualizem estatísticas de uso.",
    "contact": {
      "name": "Suporte Scanify",
      "url": "https://scanify.com.br/support",
      "email": "suporte@scanify.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.scanify.com.br",
      "description": "Servidor de Produção"
    }
  ],
  "paths": {
    "/extract": {
      "post": {
        "summary": "Extração de dados de documentos",
        "description": "Faz a extração de dados de documentos. Requer autenticação via token Bearer.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "O arquivo do documento a ser processado"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento enviado com sucesso e processamento iniciado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "ID único para o processamento de OCR.",
                      "example": "49dcfe13ea1a53bdf2b38530d504ac0e84bcd317ee6e1320aa6285342c4e4c95"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - Arquivo não fornecido ou inválido"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Verificar status de saúde da API",
        "description": "Endpoint para verificar o status de saúde da API.",
        "responses": {
          "200": {
            "description": "API está em bom funcionamento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}