{
  "openapi": "3.0.0",
  "info": {
    "title": "API OCR Scanify",
    "version": "1.0.0",
    "description": "API do Scanify para processamento de OCR. Esta API permite que os usuários autentiquem, façam upload de arquivos para OCR, verifiquem o status dos processamentos, recuperem resultados de OCR e visualizem estatísticas de uso.",
    "contact": {
      "name": "Suporte Scanify",
      "url": "https://scanify.com.br/support",
      "email": "support@scanify.com"
    }
  },
  "servers": [
    {
      "url": "https://api.scanify.com.br",
      "description": "Servidor de Produção"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Obter um token de autenticação",
        "description": "Gera um token de acesso usando uma chave de API. Este token é necessário para realizar requisições autenticadas nos endpoints de OCR.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "A chave de API fornecida ao usuário.",
                    "example": "apiscanify_MC55Y3V2bmNvMW11bw==YXBpc2NhbmlmeV8="
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autenticação bem-sucedida"
          },
          "401": {
            "description": "Não autorizado - Chave de API inválida"
          }
        }
      }
    },
    "/ocr/upload": {
      "post": {
        "summary": "Fazer upload de um documento para processamento de OCR",
        "description": "Faz o upload de um documento para processamento de OCR. Requer autenticação via token Bearer.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "O arquivo do documento a ser processado para OCR."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento enviado com sucesso e processamento iniciado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "ID único para o processamento de OCR.",
                      "example": "49dcfe13ea1a53bdf2b38530d504ac0e84bcd317ee6e1320aa6285342c4e4c95"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - Arquivo não fornecido ou inválido"
          }
        }
      }
    },
    "/ocr/status/{jobId}": {
      "get": {
        "summary": "Verificar o status de um processamento OCR",
        "description": "Recupera o status atual de um processamento OCR.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID único para o processamento de OCR.",
            "example": "49dcfe13ea1a53bdf2b38530d504ac0e84bcd317ee6e1320aa6285342c4e4c95"
          }
        ],
        "responses": {
          "200": {
            "description": "Status do processamento de OCR",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "O status atual do processamento (e.g., 'processando', 'completado', 'falhou')"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado - ID do processamento não existe"
          }
        }
      }
    },
    "/ocr/result/{jobId}": {
      "get": {
        "summary": "Recuperar o resultado de OCR para um processamento concluído",
        "description": "Obtém o resultado de um processamento de OCR após a conclusão.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID único para o processamento.",
            "example": "49dcfe13ea1a53bdf2b38530d504ac0e84bcd317ee6e1320aa6285342c4e4c95"
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado do OCR recuperado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "O texto extraído do documento ou outros dados de OCR."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado - ID do processamento não existe"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Recuperar informações de uso",
        "description": "Recupera informações sobre limites de uso da API, uso atual e créditos restantes.",
        "responses": {
          "200": {
            "description": "Informações de uso recuperadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "object",
                      "properties": {
                        "totalCredits": {
                          "type": "integer",
                          "description": "Número total de créditos disponíveis."
                        },
                        "usedCredits": {
                          "type": "integer",
                          "description": "Número de créditos utilizados."
                        },
                        "remainingCredits": {
                          "type": "integer",
                          "description": "Número de créditos restantes."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Verificar status de saúde da API",
        "description": "Endpoint para verificar o status de saúde da API.",
        "responses": {
          "200": {
            "description": "API está em bom funcionamento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}