{
  "openapi": "3.0.0",
  "info": {
    "title": "API Scanify",
    "version": "1.0.0",
    "description": "API do Scanify para extração de dados de documentos. Esta API permite que os usuários façam upload de arquivos para extração de dados de documentos.",
    "contact": {
      "name": "Suporte Scanify",
      "url": "https://scanify.com.br/support",
      "email": "suporte@scanify.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.scanify.com.br",
      "description": "Servidor de Produção"
    }
  ],
  "paths": {
    "/extract": {
      "post": {
        "summary": "Extração de dados de documentos",
        "description": "Faz a extração de dados de documentos. Requer autenticação via token Bearer.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "documentType", "callbackUrl"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "O arquivo do documento a ser processado"
                  },
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento a ser processado",
                    "enum": ["CNH", "BOLETO", "NFE", "CPF", "RG", "CONTRATO"],
                    "example": "CNH"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "URL para receber notificações de callback quando o processamento for concluído"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "ID de referência opcional para rastreamento do processamento",
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Qualquer informação/metadados adicional que o usuário queira associar ao documento, será retornado no callback",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento enviado com sucesso e processamento iniciado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID único da requisição de processamento",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status atual do processamento",
                      "example": "IN_PROGRESS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - Arquivo não fornecido ou inválido"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Verificar status de saúde da API",
        "description": "Endpoint para verificar o status de saúde da API.",
        "responses": {
          "200": {
            "description": "API está em bom funcionamento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}